backend/target
frontend/target
shared/target

project/target
project/metals.sbt

.bloop

*.class

.metals

project/project

shared/.jvm/target
shared/.js/target
target

modules/backend/src/main/resources/dev.js
modules/backend/src/main/resources/prod.js
