backend/target
frontend/target
shared/target

project/target
project/metals.sbt

.bloop
.bsp
.vscode
.metals

*.class

project/project

shared/.jvm/target
shared/.js/target
target

modules/backend/src/main/resources/dev.js
modules/backend/src/main/resources/prod.js

node_modules
package.json
yarn.lock
